<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="uml.papyrus.doc.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.papyrus.views.category"
            class="uml.papyrus.doc.DocumentationMultiLanguageView"
            icon="resources/icon15x15.jpg"
            id="uml.papyrus.doc.view.multilanguageview"
            name="Multi Language Documentation View">
      </view>
   </extension>

</plugin>
