<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DatabaseModeling -->
      <package
            uri="http:///DatabaseModeling.ecore"
            class="DatabaseModeling.DatabaseModelingPackage"
            genModel="resources/DatabaseModeling.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.uri_mapping">
	<mapping
		source="pathmap://DatabaseModeling/"
		target="platform:/plugin/uml.profile/resources/"/>
	</extension>

	<extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
		<profile
			description="Database modeling profile"
			name="Database modeling profile"
			path="pathmap://DatabaseModeling/DatabaseModeling.profile.uml"
			provider="Horváth Tibor"/>
	</extension>

</plugin>
